*{
    background-color: #F2F4FF;
    color: #000000;
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
    overflow-x: hidden; 
}

.title{ /* name */
    text-align: center;
    color: #000000;
    padding: 10px;
    font-size: 5vw;
    font-family: 'Lexend Zetta', sans-serif;
    font-weight: bold;
    margin-top:20px;
}

.title-hr{
    position:absolute;

    color:#62017A;
    background-color:#62017A;
    border: 5px solid #62017A;

    width:50%;
    height:5px;

    left:50%; /* move left edge to center of parent */
    transform:translateX(-50%); /* move back left edge to center of screen */

    margin:0 auto 40px auto;
    margin-bottom:40px;
}

.subtitle{ /* pronouns*/
    font-family: 'Lexend', sans-serif;
    text-align: center;
    font-size: 2.6vw;
    color: #000000;
    text-align: center;
    margin-top:30px;
}

.subtitle-hr{
    position:absolute;

    color:#62017A;
    background-color:#62017A;
    border: 4px solid #62017A;

    width:38%;
    height:5px;

    left:50%; /* move left edge to center of parent */
    transform:translateX(-50%); /* move back left edge to center of screen */

    margin:0 auto 40px auto;
    margin-bottom:40px;

    
}

.subtitle a {
    margin: 0; 
    padding: 0;
}

.about-me-text{
    font-size:1.5vw;
    font-family:"verdana", sans-serif;
    text-align: justify;

}

.about-me-text-border{
    border-radius: 1vw;
    display: inline-block;
    padding:1vw;
    margin-bottom:2px;
    background: #C0D0F0;
    margin-left:15vw;
    margin-top:5vw;
    width:70vw;
}

.section-heading { /* work, events, bib */
    margin-left:15vw;
    margin-bottom:20px;
    font-family: "Dongle", sans-serif;
    font-size: 2.3vw;
    display:block;
    margin-top:2vw;
}

.section-heading-border{
    /*border*/
    border-radius: 1vw;
    border-width: 0.6vw;
    border-color: #8962B6; /*62017A*/
    border-style:solid;
    display: inline-block;
    padding:5px;
    padding-bottom:2px;
    margin-bottom:2px;
    background: #E9D6FF;
}

.item-heading{ /* headings in work, events, bib */
    font-family: "Lucida Bright", serif;
    font-weight: bold;
    font-size: 1.8vw;
    display:block;
    margin-left: 17vw;
    margin-bottom: 10px;
}

.body-text{ /* body text */
    text-align: center;
    width:70vw;
    min-width:800px;
    height:auto;
    padding:20px;
    margin-top:0px;
    padding-top:0px;
    margin-left:19vw;
    overflow-wrap:break-word;
    text-align: justify;

    font-size:1.5vw;
    font-family:"verdana", sans-serif;
}

.body-text-border{
    /*border*/
    border-radius: 10px;
    border-width: 0px;
    display: inline-block;
    padding:10px;
    margin-bottom:2px;
    background: #E5C2E7;
}

.orgimg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.orgimg img {
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    object-fit: contain;
    max-width:100%;
}


.org-grid{
    display: grid; /* grid display */
    grid-template-columns: repeat(3,1fr); /* 3 columns with the same width */
    gap: 10px;
    padding: 0;
    margin: 50px auto;
    width: 30%;
}

.org-grid-bottom{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    grid-gap: 30px;
    padding: .5em;
    margin-left: 40%;
    margin-top:0;
    width:100%;
    max-height: 100%;
}